<!DOCTYPE html>
<html>
	<head>
		<title>Pursuit</title>
		<link rel="stylesheet" type="text/css" href="/styles/main.css" />
		<link rel="shortcut icon" type="image/png" href="img/favico.ico" />
	</head>
	<body>
 		<div class="form" align="center">
	 		<form action="/result" method="post">
				<!-- <label for="name" style="display:block"><b><h1>Pursuit</h1><b> </label> -->
				<img style="display:block" src="img/pursu.png" >
				<input id="name" type="text" style="font-size:20px" name="query">
				<input style="display:block ; margin-top: 10px"display:block" type="submit" value="search">
			</form>
		<div>
	</body>
</html>